//_____ABOUT_____//

.about {
    height: 100%;
    background-color: $background-color;
    padding-left: 6.4%;
    padding-right: 6.4%;
    padding-bottom: 30px;
    position: relative;
    //informations
    &__informations {
        padding-top: 370px;
        &__img {
            width: 100%;
            height: 313px;
            position: absolute;
            top: 0;
            left: 0;
        }
        h1 {
            padding-bottom: 25px;
        }
        h2 {
            padding-bottom: 12px;
        }
        h3 {
            padding-bottom: 54px;
        }
        p {
            padding-bottom: 124px;
        }
        &__socialMedia {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 44px;
            img {
                height: 100%;
            }
        }
        &__line {
            height: 1px;
            margin-bottom: 80px;
            background-color: white;
        }
    }
    //skills
    &__skills {
        h4 {
            padding-bottom: 12px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            padding-bottom: 100px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 33px;
                background-color: #5e5454;
            }
        }
        &__languages {
            li {
                width: 31.5%;
            }
        }
        &__fields {
            gap: 3%;
            &__art {
                width: 32.5%;
            }
            &__dev {
                width: 66%;
            }
        }
        &__line {
            height: 1px;
            background-color: white;
            margin-bottom: 30px;
        }
    }
    //career
    &__career {
        h4 {
            padding-bottom: 57px;
        }
        &__training {
            padding-bottom: 60px;
            h5 {
                padding-bottom: 16px;
            }
            &__years {
                padding-bottom: 45px;
            }
            &__p__03_01 {
                &__0 {
                    padding-bottom: 26px;
                }
                &__1 {
                    padding-bottom: 7px;
                }
            }
            &__p__03_02 {
                &__0 {
                    padding-bottom: 26px;
                }
            }
            &__p__03_03 {
                &__0 {
                    padding-bottom: 26px;
                }
            }
        }
        &__line {
            width: 100%;
            height: 1px;
            margin-top: 74px;
            margin-bottom: 30px;
            background-color: white;
        }
    }
    //dev
    &__dev {
        h4 {
            padding-bottom: 65px;
        }
        &__skills {
            padding-bottom: 70px;
            &__1 {
                padding-bottom: 25px;
            }
            &__0,
            &__2,
            &__3,
            &__4,
            &__5,
            &__6 {
                padding-bottom: 8px;
            }
        }
        h5 {
            padding-bottom: 30px;
        }
        &__stacks {
            display: flex;
            justify-content: space-between;
            padding-bottom: 90px;
            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                figcaption {
                    padding-top: 20px;
                }
            }
            img {
                height: 45px;
            }
        }
        &__line {
            width: 100%;
            height: 1px;
            margin-bottom: 30px;
            background-color: white;
        }
    }
    //art
    &__art {
        h4 {
            padding-bottom: 65px;
        }
        &__skills {
            padding-bottom: 70px;
            &__3 {
                padding-bottom: 25px;
            }
            &__0,
            &__1,
            &__2,
            &__4,
            &__5,
            &__6 {
                padding-bottom: 8px;
            }
        }
        h5 {
            padding-bottom: 30px;
        }
        &__softwares {
            display: flex;
            justify-content: space-between;
            padding-bottom: 90px;
            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                figcaption {
                    padding-top: 20px;
                }
            }
            img {
                height: 45px;
            }
        }
        &__line {
            width: 100%;
            height: 1px;
            margin-top: 30px;
            background: white;
        }
    }
}

//_____ABOUT RESPONSIVE_____//
@media screen and (min-width: 996px) {
    .about {
        padding-left: 0;
        padding-right: 0;
        &__informations {
            padding-left: 52%;
            padding-top: 15%;
            &__img {
                height: 100vh;
                position: fixed;
                bottom: 0;
                left: 0;
            }
            h1 {
                position: fixed;
                z-index: 2;
                top: 25%;
            }
            h2 {
                position: fixed;
                z-index: 2;
                top: 32%;
            }
            h3 {
                position: fixed;
                z-index: 2;
                top: 35%;
            }
            p{
                position: relative;
                z-index: 2;
                padding-left: 50%;
                padding-right: 2%;
                padding-top: 30%;
                padding-bottom: 40px;
            }
            &__socialMedia{
                position: relative;
                z-index: 2;
                padding-left: 50%;
                padding-right: 12%;
            }
            &__line{
                display: none;
            }
        }
        &__skills{
            position: absolute;
            z-index: 2;
            left: 52%;
            top: 0;
            padding-top: 28%;
            ul{
                padding-bottom: 27%;
            }
            &__line{
                display: none;
            }
        }
        &__career{
            padding-left: 52%;
            padding-top: 25%;
            position: relative;
            z-index: 2;
            &__trainings{
                display: flex;
                gap: 2%;
            }
            &__training{
                width: 30%;
            }
            &__line{
                display: none;
            }
        }
        &__dev{
            display: flex;
            position: relative;
            z-index: 2;
            padding-left: 52%;
            padding-right: 2%;
            padding-top: 20%;
            div {
                width: 48%;
            }
            &__line{
                display: none;
            }
        }
        &__art{
            display: flex;
            position: relative;
            z-index: 2;
            padding-left: 52%;
            padding-right: 2%;
            padding-top: 20%;
            div{
                width: 48%;
            }
            &__line{
                display: none;
            }
        }
    }

    .linesAbout {
        top: 0;
        position: fixed;
        padding-left: 17.8%;
        padding-right: 17.8%;
        z-index: 1;
    }
    .lineAbout {
        opacity: 0;
    }
}

@media screen and (max-width: 996px) {
    .linesAbout {
        display: none;
    }
}
