//___START___//

.start {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background_color;
    position: relative;
    overflow: hidden;
    //logo
    &__logo {
        width: 34px;
        height: 25px;
        position: absolute;
        z-index: 1;
        left: 25px;
        top: 50px;
        img {
            width: 100%;
        }
    }
    //content
    &__content {
        width: 100%;
        text-align: right;
        position: absolute;
        padding-right: 29px;
        top: 18%;
        z-index: 1;
        //ziiemli
        &__h1 {
            margin-bottom: 20px;
        }
        //Zilin Moulin
        &__h2 {
            margin-bottom: 250px;
        }
        //work
        li {
            margin-bottom: 12px;
        }
    }
    //button START
    &__button {
        display: flex;
        align-items: center;
        gap: 25px;
        position: absolute;
        z-index: 1;
        bottom: 10%;
        a {
            transition: 0.5s;
        }
        &__line {
            width: 100px;
            height: 2px;
            background-color: white;
        }
    }
    //background
    &__background {
        width: auto;
        height: 100%;
        display: flex;
        align-self: end;
        position: relative;
        left: 30%;
        img {
            object-fit: cover;
            height: 100%;
            position: relative;
        }
    }
}

//HOVER
.start__button a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    padding-right: 25px;
    padding-left: 25px;
}

//_____START RESPONSIVE_____//

@media screen and (min-width: 996px) {
    .start {
        &__logo {
            width: auto;
            height: 40px;
            left: 6%;
            top: 7%;
        }
        &__background {
            left: 0;
            right: 0;
        }
        &__line {
            height: 100vh;
            width: 2px;
            background-color: white;
            position: absolute;
            opacity: 0.2;
        }
        &__line2 {
            height: 100vh;
            width: 2px;
            background-color: white;
            position: absolute;
            opacity: 0.2;
            margin-left: 66%;
        }
        &__content {
            width: 100%;
            text-align: left;
            position: absolute;
            padding-right: 29px;
            top: 12%;
            z-index: 1;
            //ziiemli
            &__h1 {
                margin-bottom: 20px;
                padding-left: 16%;
                padding-top: 200px;
            }
            //Zilin Moulin
            &__h2 {
                margin-bottom: 100px;
                padding-left: 22%;
            }
            //work
            li {
                margin-bottom: 12px;
                margin-right: 50%;
                text-align: right;
            }
        }
    }
}
