//_____CAROUSEL2_____//

.carousel-image {
    width: 100%;
}

h3 {
    padding-bottom: 25px;
}

.Carousel2 {
    padding-bottom: 30%;
}

//______RESPONSIVE CAROUSEL2_____//

@media screen and (min-width: 996px){
    .alice-carousel__stage-item {
        padding-right: 5%;
    }
}