//_____CAROUSEL_____//
.carousel {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    &__slide {
        width: 100%;
        height: auto;
    }
    &__leftArrow {
        position: absolute;
        left: 2%;
        top: 50%;
        cursor: pointer;
    }
    &__rightArrow {
        position: absolute;
        right: 2%;
        top: 50%;
        cursor: pointer;
    }
    &__description {
        width: 70%;
        position: absolute;
        left: 15%;
        top: 25%;
        z-index: 1;
        opacity: 0;
        h2 {
            padding-bottom: 10%;
        }
        h3 {
            padding-top: 15%;
            padding-bottom: 5%;
        }
    }
    &:hover:not(.carousel__leftArrow):not(.carousel__rightArrow) .carousel__description {
        opacity: 1;
        transition: 0.5s;
    }
    &:hover:not(.carousel__leftArrow):not(.carousel__rightArrow) .carousel__slide {
        filter: grayscale(50%) brightness(0.3);
        transition: 0.5s;
    }
    &:hover .carousel__rightArrow, .carousel__leftArrow{
        z-index: 1;
    }
}

