//_____CAROUSEL BIS_____//

.carouselbis {
    padding-top: 0;
    padding-bottom: 40%;
    &__img {
        width: 75%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}
