//_____Digital Artwork_____//

.digitalArtwork {
    width: 100%;
    height: auto;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    &__description {
        position: absolute;
        top: 50%;
        opacity: 0;
    }
    &:hover .digitalArtwork__description {
        opacity: 1;
    }
}

