//_____MENU_____//

.menu__active {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    margin-top: -50px;
    background: rgba(39, 39, 39, 0.71);
    backdrop-filter: blur(30px);
    z-index: 1;
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        padding-bottom: 400px;
        &__diamond {
            width: 15.2px;
            position: absolute;
            left: 100px;
        }
        &__shop {
            margin-bottom: 128px;
        }
        &__page {
            margin-bottom: 67px;
        }
    }
}
