//_____PROJECTS_____//

.projects,
.projectsArt {
    width: 100%;
    height: 100%;
    padding-left: 10.25%;
    padding-right: 10.25%;
    &__title {
        margin-bottom: 46px;
    }
}

.backgroundLinesProjects {
    width: 100%;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 18;
    // grid-row-start: 1;
    // grid-row-end: 6;
    display: flex;
    justify-content: space-between;
    opacity: 0.3;
    &__line {
        width: 2px;
        height: 224.5vh;
        background-color: white;
    }
}

//_____PROJECTS RESPONSIVE_____//

@media screen and (min-width: 996px) {
    .projects {
        display: grid;
        grid-template-columns: 2px 2% 20% 2% 2px 2% 20% 2% 2px 2% 20% 2% 2px 2% 20% 2% 2px;
        grid-template-rows: 15% 27.5% 10% 27.5% 20%;
        padding-left: 17.8%;
        padding-right: 17.8%;
        &__title {
            display: none;
        }
    }
    .projectsArt{
        padding-left: 17.8%;
        padding-right: 17.8%;
    }
    .linesArt{
        height: 15vh;
    }
    .lineArt{
        height: 100vh;
    }
    .digitalArtworks {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 996px) {
    .backgroundLinesProjects {
        display: none;
    }
}
