
//_____PROJECTS_____//

.projects {
    width: 100%;
    padding-left: 10.25%;
    padding-right: 10.25%;
    padding-bottom: 150px;
    &__title {
        margin-bottom: 46px;
    }
}

//_____PROJECTS RESPONSIVE_____//

@media screen and (min-width: 996px) {
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__title {
            width: 100%;
        }
    }
}
