//___FONTS___//

//VARIABLES
:root {
    --start_h1: 3rem;
    --start_text: 1.25rem;
    --start_start: 2.18rem;
    --home_title: 1.5rem;
    --category_title: 1.9rem;
    --categoryParagraphe_projectDev: 0.9rem;
    --category_projects: 1.7rem;
}

@font-face {
    font-family: "SegoeUi";
    src: url(../fonts/SegoeUI.woff);
    src: url(../fonts/SegoeUI.woff2);
}

@font-face {
    font-family: "Cyrene";
    src: url(../fonts/Cyrene.woff);
    src: url(../fonts/Cyrene.woff2);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.woff);
    src: url(../fonts/Raleway.woff2);
}

//BODY
body {
    color: white;
    font-family: "SegoeUi", sans-serif;
}

//START
.start__content {
    &__h1 {
        font-size: var(--start_h1);
        font-weight: lighter;
    }
    &__h2,
    li {
        font-size: var(--start_text);
        font-weight: lighter;
    }
}

.start__button {
    &__start {
        font-family: "Cyrene", sans-serif;
        font-size: var(--start_start);
        font-weight: 400;
        color: white;
    }
}

//HOME
.homeCategories__article__title {
    font-size: var(--home_title);
    font-weight: 400;
}

//CATEGORIES TITLE
.categoriesTitle__informations {
    &__title {
        font-family: "Raleway", sans-serif;
        font-size: var(--category_title);
        font-weight: 600;
    }
    &__paragraphe {
        font-size: var(--categoryParagraphe_projectDev);
        font-weight: 400;
    }
}

//WEB DEV DESIGN PROJECTS
.projectDev__title {
    font-family: "Raleway", sans-serif;
    font-size: var(--categoryParagraphe_projectDev);
    font-weight: 400;
}

//FOOTER 
footer {
    color: white;
    li {
        color: white;
    }
}