
//___FONTS___//

//VARIABLES
:root {
    --start_h1: 3rem;
    --start_text: 1.25rem;
    --start_start: 2.18rem;  
    --home_title: 1.5rem;
    --category_title: 1.9rem;
    --category_paragraphe: 0.9rem;
}

@font-face {
    font-family: 'SegoeUi';
    src: url(../fonts/SegoeUI.woff);
    src: url(../fonts/SegoeUI.woff2);
}

@font-face {
    font-family: 'Cyrene';
    src: url(../fonts/Cyrene.woff);
    src: url(../fonts/Cyrene.woff2);
}

//BODY  
body {
    color: white;
    font-family: "SegoeUi", sans-serif;
}

//START
.start__content {
    &__h1 {
        font-size: var(--start_h1);
        font-weight: lighter;
    }
    &__h2, li {
        font-size: var(--start_text);
        font-weight: lighter;
    }
}

.start__button {
    &__start {
        font-family: 'Cyrene', sans-serif;
        font-size: var(--start_start);
        font-weight: 400;
        color: white;
    }
}

//HOME
.homeCategories__article__title {
    font-size: var(--home_title);
    font-weight: 400;
}

//CATEGORIES TITLE
.categoriesTitle__informations {
    &__title {
        font-size: var(--category_title);
    }
    &__paragraphe {
        font-size: var(--category_paragraphe);
        font-weight: 400px;
    }
}