//_____FONTS RESPONSIVE_____//

@media screen and (min-width: 996px) {
    :root {
        --start_h1: 3rem;
        --start_text: 1.25rem;
        --start_start: 2.18rem;
        --home_title: 1.5rem;
        --category_title: 2.5rem;
        --categoryParagraphe_projectDev: 1rem;
        --category_projects_projects: 1.7rem;
        --projectTop: 1.2rem;
        --projectTop__link: 1.5rem;
    }

    .categoriesTitle__informations {
        &__title {
            line-height: 3rem;
        }
        &__paragraphe {
            line-height: 1.4rem;
        }
    }
}
